@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 500px;
    height: 500px;
    background-color: #f5f5f5;
}

body {
    min-width: 500px; /* your desired width */
    max-width: 100%;
    min-height: 500px; /* your desired height */
    max-height: 100%;
    position: relative;
    vertical-align: middle;
}
html{min-height:300px;min-width:100px}

